* {
    width: 1000px;
    justify-content: center;
    align-items: center;
}

h1 {
    background-color: rgb(24, 143, 143);
    align-items: center;
}

.title_names th {
    background-color: blue;
    color: aliceblue;
    align-items: center;
    justify-content: space-between;
    font-size: 34pt;
    /* padding: 20px;
    border: 15px; */
}

th {
    color: azure;
}

.title_body {
    font-size: 24px;
}